<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Menu</title>
    <meta name="author" content="crzdvl">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>
    <div class="section">
        <div class="container" style="margin-top: 5%;">
            <h3 style="text-align: center">Menu</h3>
            <ul>
                <a href="/v1/auth/logout">
                    <li>log out</li>
                </a>
                <a href="/v1/page/editor">
                    <li>crop or resize image</li>
                </a>
                <a href="/v1/history/sum/1">
                    <li>sorted list of user with information about operations</li>
                </a>
                <a href="/v1/history/avg">
                    <li>average statistic of size dowloading files and params operations</li>
                </a>
                <a href="/v1/history/csv">
                    <li>[DOWNLOAD] average statistic of size dowloading files and params operations</li>
                </a>
                <a href="/v1/page/historyByEmail">
                    <li>average statistic of params operations grouped in days for one user</li>
                </a>
                <a href="/v1/page/historyByDate">
                    <li>history of image operations with a specified time</li>
                </a>
            </ul>
        </div>
    </div>
</body>

</html>
